/* style.css */
header {
    text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

main h1 {
    text-align: center;
    text-decoration: underline;
}

.About {
    text-align: center;
}

.Projects {
    text-align: center;
}
